{
  "presets": ["env", "stage-0", "react"],
  "plugins": [
    "transform-decorators-legacy",
    "syntax-dynamic-import",
    "dynamic-import-node",
    ["module-resolver", {
      "root": ["./"],
      "extensions": [
        ".js", ".jsx", ".json",
        ".css", ".gql", ".jpg",
        ".png", ".gif", ".eot", ".ico",
        ".svg", ".ttf", ".woff", ".woff2",
        ".eot", ".wav", ".mp3", ".mp4", ".webm"
      ],
      "alias": {
        "_client": "./client",
        "_server": "./server",
        "_intl": "./intl",
        "_internals": "./internals",
        "_config": "./config",
        "package.json": "./package.json"
      }
    }]
  ]
}
