{
  "extends": [
    "airbnb"
  ],
  "parser": "babel-eslint",
  "plugins": [
    "graphql",
    "redux-saga"
  ],
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  },
  "rules": {
    "import/prefer-default-export": 0,
    "graphql/template-strings": [
      "error", {
        "env": "literal",
        "schemaJsonFilepath": "schema.json"
      }
    ]
  },
  "settings": {
    "import/resolver": {
      "babel-module": {
        "extensions": [
          ".js", ".jsx", ".json",
          ".css", ".gql", "jpg",
          "png", "gif", "eot", "ico",
          "svg", "ttf", "woff", "woff2",
          "eot", "wav", "mp3", "mp4", "webm"
        ]
      }
    }
  }
}
